<div class="contenedor">
    <div class="header">
       <h1>Personajes</h1> 
        <button [routerLink]="['']">Home</button>
        <button [routerLink]="['/browser']">Buscar personajes</button>
    </div>
<div class="results">
    <article *ngFor="let character of characters">
            <div><img [src]="character.image" [alt]="character.name"></div>
            <div class="descripcion">
                <h2>{{character.name}}</h2> 
                <span>{{character.status}}</span>
                <span>{{character.gender}}</span>
                <span>{{character.species}}</span>
                <button (click)="openDescription(character)">Abrir detalles</button>
            </div>
        </article>
        <div class="pages">
            <button (click)="prevPage()">Anterior</button>
            <button (click)="nextPage()">Siguiente</button>
        </div>
    </div>
</div>